<h1>All Users</h1>

<table>
  <tr>
    <th>First Name: </th>
    <th>Last Name: </th>
    <th>Email: </th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td>  <h3> <%= user.first_name  %></h3> </td>
    <td> <%= user.last_name  %></td>
    <td> <%= user.email  %> </td>
  
  </tr> 
<% end %>

</table>
