
<%= image_tag("shell-colleen-mcculla.gif") %>

<div id="like_button_container"></div>

<h3>APRIL - Guilty Feminist & Side Door </h3> 
<p>DATE: tbd</p>
<p>HOST: tbd</p>
<p>PODCAST: <a href="https://podcasts.apple.com/au/podcast/sidedoor/id1168154281">Side Door, 2020 Episodes</a> </p> 


<p><a href="https://podcasts.apple.com/au/podcast/the-guilty-feminist/id1068940771">Guilt Feminist</a> <p> Episodes:</p></p>
  <ul>
    <li>27. Hair Removal with Jordan Raskopoulos</li> <a href="https://podcasts.apple.com/au/podcast/27-hair-removal-with-jordan-raskopoulos/id1068940771?i=1000379336990">link</a>
    <li>tbd</li>
    <li>tbd</li>
    <li>tbd</li>
    <li>tbd</li>
  </ul>

<h3>MAY - The Moth</h3> 
<p> <a href="https://www.facebook.com/events/437391000546052/?event_time_id=437391013879384">fb event link</a>  </p>
<p>DATE: May 4th, 7p</p>
<p>VENUE: Howler - 7-11 Dawson Street, Brunswick </p>
<p>PODCAST: </p> <a href="https://podcasts.apple.com/au/podcast/the-moth/id275699983">The Moth</a>