
<h1>THE BRIGIDS</h1>
<h2>podcast club and snacks</h2>
<nav>
  <%= link_to 'Podcasts', controller: 'articles' %>
  <%= link_to "About", "/about" %>
</nav>


<%= image_tag("shell-colleen-mcculla.gif") %>

<div id="like_button_container"></div>