<h1>About The Bridgid's</h1>

<p>
  We are a group of Australian and American women who have come together to discuss monthly podcasts, eat food, and talk about whatever else tickles our fancy in life. 
</p>